extends layout



block button
	button.add-button(type='button') Создать встречу

block content
	main.meeting-ui
		.modal
			tspan.modal__image(xmlns='http://www.w3.org/2000/svg', x='0.5', y='40') 🎉
			.modal__title Встреча создана!
			.modal__info
				p 14 декабря, 15:00—17:00
				p Готем • 4 этаж
			button.button-ok(onclick="$('body').removeClass('dimmed')") Хорошо
		.day-switcher.day-switcher_mobile
			button.button-arrow
				img.button-arrow__image.button-arrow__image_left(src='/dist/assets/arrow-left.svg', alt='arrow left')
			.wrapper-date
				p.day-switcher__date 14 дек · Сегодня
			button.button-arrow
				img.button-arrow__image.button-arrow__image_right(src='/dist/assets/arrow-right.svg', alt='arrow right')
		section.calendar.hidden
			.calendar__switcher
				button#table-arrow-right.button-arrow
					img.button-arrow__image(src='/dist/assets/arrow-right.svg', alt='arrow left')
				button#table-arrow-left.button-arrow
					img.button-arrow__image(src='/dist/assets/arrow-left.svg', alt='arrow left')
			table#calendar(border='0', cellspacing='0', cellpadding='1')
				thead
					tr
						td
							b
						td.calendar__month(colspan='5')
						td
							b
					tr.calendar__week
						td Пн
						td Вт
						td Ср
						td Чт
						td Пт
						td Сб
						td Вс
				tbody
		section.meeting-ui__time-line.meeting-ui__time-line_time-indicator
			.day-switcher
			.time-indicator
				.time-indicator__position-handler
					.time-indicator__time
						p 11:05
					.time-indicator__line
				.time-indicator__position-handler-helper
		section.meeting-ui__time-line
			.day-switcher
				button.button-arrow
					img.button-arrow__image.button-arrow__image_left(src='/dist/assets/arrow-left.svg', alt='arrow left')
				.wrapper-date
					p.day-switcher__date 14 дек · Сегодня
				button.button-arrow
					img.button-arrow__image.button-arrow__image_right(src='/dist/assets/arrow-right.svg', alt='arrow right')
			.time-line
				- let hourStart = 8;
				- let hourEnd = 23;
				- for (let i=hourStart; i <= hourEnd; i++) {
					-if (i === hourStart) {
						.time-line__hour= hourStart + ':00'
					- } else {
						.time-line__hour= i
					-}
				- }
		section.meeting-rooms
			.background-meeting-rooms
				.background-meeting-rooms__title-block
				.background-meeting-rooms__time-line-block
					- for (let i=hourStart; i <= hourEnd; i++) {
						.background-meeting-rooms__time-line-wrapper
							.background-meeting-rooms__time-line
					- }