@import "variables";

.background-meeting-rooms {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	pointer-events: none;

	&__time-line-block {
		background-color: $meeting-room-color-background;
		display: flex;
		justify-content: space-between;
		flex: 1;
		min-width: $min-width-time-line;
		overflow: hidden;
	}

	&__title-block {
		width: 20vw;
		min-width: $min-width-title;
		border-right: $separator-block-setting;
	}

	&__time-line-wrapper {
		flex-basis: 49px;
		height: 100%;
		display: flex;
		justify-content: center;
		z-index: 2;
	}

	&__time-line {
		width: 1px;
		height: 100%;
		background-color: $meeting-room-color-support-time-line;
	}
}
