.button-delete {
	background-color: transparent;
	padding: 0;
	border: 0;
	position: absolute;
	right: 10px;
	top: 12px;

	&:focus {
		box-shadow: none;
	}

	&:hover {
		cursor: pointer;
	}

	&_add-member {
		position: relative;
		top: 0;
		right: 0;
		box-sizing: border-box;
		margin: 0 9px 0 15px;
	}
}