@import 'variables';

.button-arrow {
  width: $size-round;
  height: $size-round;
  border-radius: 50%;
  background: $outer-shadow-color no-repeat;
  padding: 0;

  &__image {
    opacity: 0.43;
    margin: 0 auto;
    position: relative;
    top: 1px;

    &_left {
      padding-right: 2px;
    }

    &_right {
      padding-left: 2px;
    }
  }

  &:hover {
    cursor: pointer;

    &__image {
      opacity: 1;
    }
  }
}
