@import "variables";

.meeting-rooms {
	position: relative;
	min-height: calc(100vh - 117px);
	top: $offset-meeting-rooms-mobile - 19px;
	padding-bottom: $offset-meeting-rooms-mobile;

}

tr {
	td:first-child {
		pointer-events: none;
	}

	&:hover {
		.table-meeting-room__wrapper:not(.disabled) {
			.table-meeting-room__name {
				color: $text-color-hover;
			}
		}
	}
}

.time-piece {
	flex: 1;
	position: relative;

	&.active {
		background-color: $text-color-white;
		cursor: pointer;

		//&:hover {
		//	background-color: $text-color-hover;
		//	border-radius: 2px;
		//}
		.button-add {
			position: absolute;
			bottom: 0;
			top: 0;
			width: 57px;
			border-radius: 2px;
			font-size: 21px;
			line-height: 23px;
			text-align: center;
			color: $text-color-white;
			background-color: $text-color-hover;
			visibility: hidden;
			pointer-events: none;
		}

		&.disabled {
			background-color: #d5dfe9;
			pointer-events: none;
		}
	}

	&.active:hover {
		.button-add {
			visibility: visible;
		}
	}

	&.placed:hover {
		background: $meeting-room-color-hover;
		cursor: pointer;
	}
}

