@import "reset";
@import "variables";
body {
	letter-spacing: .3px;
	font-family: $ff-main;
	font-size: $fs-main;
	margin: 0;
}

main {
	position: relative;
	overflow: hidden;
}

.day-switcher__wrapper-mobile {
	visibility: hidden;
	width: 0;
	height: 0;
}

button.disabled {
	background-color: $button-color-disabled;
	color: $text-color-disabled;
	pointer-events: none;
}


@import "header";
@import "meeting-ui";
@import "time-indicator";
@import "day-switcher";
@import "button-arrow";
@import "time-line";
@import "main-table";
@import "background-meeting-rooms";
@import "table-meeting-room";
@import "mock-data-imitation";
@import "meeting-info-hint";
@import "edit-button";
@import "add-meeting-ui";
@import "form-data-layout";
@import "input-block";
@import "time-input-block";
@import "offer-meeting-room";
@import "button-delete";
@import "member-list";
@import "cancel-button";
@import "modal";
@import "button-ok";
@import "add-member-list";
@import "card-add-member";
@import "button-close";
@import "calendar";

@media (max-width: 420px) {

	.meeting-rooms__time-line .day-switcher {
		visibility: hidden;
	}

	.time-indicator__position-handler {
		padding-top: 4px;
	}
}
@import "media-query";