.meeting-room {
	&__wash-room {
		.time_8-00 {
			flex-grow: 185;
		}

		.time_8-15 {
			flex-grow: 160;
		}

		.time_8-30 {
			flex-grow: 555;
		}
	}

	&__yellow-house {
		.time_8-00 {
			flex-grow: 185;
		}

		.time_8-15 {
			flex-grow: 145;
		}

		.time_8-30 {
			flex-grow: 420;
		}
		.time_8-45 {
			flex-grow: 100;
		}
		.time_9-00 {
			flex-grow: 50;
		}
	}

	&__joker {
		.time_8-00 {
			flex-grow: 185;
		}

		.time_8-15 {
			flex-grow: 115;
		}

		.time_8-30 {
			flex-grow: 370;
		}
		.time_8-45 {
			flex-grow: 100;
		}
		.time_9-00 {
			flex-grow: 50;
		}
		.time_9-15 {
			flex-grow: 30;
		}
		.time_9-30 {
			 flex-grow: 50;
		 }
	}

	&__mary {
		.time_8-00 {
			flex-grow: 285;
		}

		.time_8-15 {
			flex-grow: 115;
		}

		.time_8-30 {
			flex-grow: 270;
		}
		.time_8-45 {
			flex-grow: 100;
		}
		.time_9-00 {
			flex-grow: 50;
		}
		.time_9-15 {
			flex-grow: 30;
		}
		.time_9-30 {
			flex-grow: 50;
		}
	}

	&__tiny-bob {
		.time_8-00 {
			flex-grow: 235;
		}

		.time_8-15 {
			flex-grow: 115;
		}

		.time_8-30 {
			flex-grow: 270;
		}
		.time_8-45 {
			flex-grow: 80;
		}
		.time_9-00 {
			flex-grow: 100;
		}
		.time_9-15 {
			flex-grow: 50;
		}
		.time_9-30 {
			flex-grow: 50;
		}
	}

	&__black-mamba{
		.time_8-00 {
			flex-grow: 205;
		}

		.time_8-15 {
			flex-grow: 125;
		}

		.time_8-30 {
			flex-grow: 270;
		}
		.time_8-45 {
			flex-grow: 100;
		}
		.time_9-00 {
			flex-grow: 100;
		}
		.time_9-15 {
			flex-grow: 50;
		}
		.time_9-30 {
			flex-grow: 50;
		}
	}

	&__liker {
		.time_8-00 {
			flex-grow: 185;
		}

		.time_8-15 {
			flex-grow: 115;
		}

		.time_8-30 {
			flex-grow: 50;
		}
		.time_8-45 {
			flex-grow: 120;
		}
		.time_9-00 {
			flex-grow: 100;
		}
		.time_9-15 {
			flex-grow: 150;
		}
		.time_9-30 {
			flex-grow: 170;
		}
	}
}