@import "variables";

.time-input-block {
	display: flex;
	flex-wrap: wrap;
	max-width: 446px;

	.input-block {
		flex-basis: 238px;
	}
}

.set-time-block {
	display: flex;
	align-items: center;

	&__dash {
		margin-top: 24px;
		box-sizing: border-box;
		padding-top: 20px;
	}

	& .input-block {
		padding: 0 2px;
	}
}
