$button-color-normal: #007dff;
$button-color-hover: #0059ff;
$button-color-disabled: #e9ecef;
$button-color-pressed: rgba(11, 0, 255, 0.8);
$text-color-white: #ffffff;
$text-color-disabled: #858e98;
$text-color-hover: #0070e0;
$outer-shadow-color: #e9ecef;
$meeting-room-color-normal: #d5dfe9;
$meeting-room-color-pressed: rgba(152, 169, 185, 0.12);
$meeting-room-color-hover: #98a9b9;
$meeting-room-color-background: #f5f6f8;
$meeting-room-color-support-time-line: rgba(19, 100, 205, 0.1);
$color-text-floor: #37003e;
$button-cancel-hover: #dde0e4;

$fs-main: 15px;
$fs-medium: 0.86em;
$fs-small: 0.73em;
$fs-title: 1.33em;

$ff-main: 'HelveticaNeue', sans-serif;
$ff-medium: 'HelveticaNeue-Medium', sans-serif;
$ff-bold: 'HelveticaNeue-Bold', sans-serif;

//sizing
$min-width-title: 250px;
$min-width-time-line: 1000px;
$size-round: 24px;

$header-height: 70px;
$time-line-height: 46px;
$offset-meeting-rooms-mobile: 116px;

$separator-block-setting: 1px solid $outer-shadow-color;
