@import 'variables';

#calendar {
  width: 100%;
  font: monospace;
  line-height: 1.2em;
  font-size: 15px;
  text-align: center;
  border-spacing: 10px;
  background-color: $button-color-disabled;
  border-radius: 4px;
}
#calendar thead tr:last-child {
  font-size: small;
  color: rgb(85, 85, 85);
}
#calendar thead tr:nth-child(1) td:nth-child(2) {
  color: rgb(50, 50, 50);
}
#calendar thead tr:nth-child(1) td:nth-child(1):hover,
#calendar thead tr:nth-child(1) td:nth-child(3):hover {
  cursor: pointer;
}
#calendar tbody td {
  width: 29px;
  height: 23px;
  color: rgb(0, 0, 0);
}
#calendar tbody td:nth-child(n + 6),
#calendar .holiday {
  color: rgb(220, 0, 0);
}
#calendar tbody td.today {
  background: rgb(220, 0, 0);
  color: #fff;
  border-radius: 50%;
  line-height: 29px;
}

.calendar {
  position: absolute;
  top: 115px;
  left: 24px;
  z-index: 10;
  box-sizing: border-box;
  background-color: white;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.3);

  &.hidden {
    visibility: hidden;
  }

  &__month {
    font-family: $ff-medium;
    font-weight: bold;
  }

  &__week {
    font-family: $ff-medium;
    font-weight: bold;
  }
}

#table-arrow-left,
#table-arrow-right {
  position: absolute;
  top: 23px;
}

#table-arrow-right {
  right: 40px;
}

#table-arrow-left {
  left: 40px;
}
