@import 'variables';

.day-switcher {
  width: 20vw;
  box-sizing: border-box;
  min-width: $min-width-title;
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;

  &__date:hover {
    cursor: pointer;
  }
}

.day-switcher_mobile {
  visibility: hidden;
  background-color: $text-color-white;
  width: 0;
  height: 0;
}

// text in day switcher
.wrapper-date {
  font-family: $ff-medium;
  font-weight: 600;
  line-height: $size-round;
  margin: 0 10px;
}
