@import 'variables';

.member-list {
  @extend .input-block__input;
  max-height: 136px;
  height: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  display: none;
  position: absolute;
  top: 57px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 2;
  padding: 0;

  &__element {
    width: 100%;
    height: 34px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 13px;
    background-clip: padding-box;

    &:hover {
      font-weight: bold;
      background-color: #f6f7f9;
    }
    &.hidden {
      visibility: hidden;
      display: none;
    }
  }

  &__checkbox {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

.member {
  display: flex;
  align-items: center;
  font-size: $fs-medium;
  pointer-events: none;

  .avatar-round {
    margin-right: 8px;
    pointer-events: none;
  }

  &__floor {
    color: $text-color-disabled;
  }
}
