@import "variables";

.button-close {
	padding: 0;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: $button-color-disabled;

	&:hover {
		cursor: pointer;
		color: $button-cancel-hover;
	}

	&_add-meeting-ui {
		position: absolute;
		top: -2px;
		right: 14px;
	}
}