.button-delete {
	background-color: transparent;
	padding: 0;
	border: 0;
	position: absolute;
	right: 10px;
	top: 12px;

	&_add-member {
		position: relative;
		top: 0;
		right: 0;
		box-sizing: border-box;
		padding: 0 9px 0 15px;
	}
}