@import "variables";

.button-arrow {
	width: $size-round;
	height: $size-round;
	border-radius: 50%;
	background: $outer-shadow-color no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;

	&__image {
		opacity: .43;

		&_left {
			padding-right: 2px;
		}

		&_right {
			padding-left: 2px;
		}
	}

	&:hover {
		cursor: pointer;

		&__image {
			opacity: 1;
		}
	}
}