@import "variables";

.button-cancel {
	height: 36px;
	background-color: $outer-shadow-color;
	border-radius: 4px;
	font-family: $ff-medium;
	font-size: $fs-medium;
	margin: 0 8px;
	box-sizing: border-box;
	padding: 0 16px;


	&:hover {
		cursor: pointer;
		background: $button-cancel-hover;
	}
}