@import "variables";

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	border-bottom: $separator-block-setting;
	box-sizing: border-box;
	padding: 0 24px;
	position: fixed;
	width: 100vw;
	background-color: $text-color-white;
	z-index: 3;
}


.add-button {
	//width: 140px;
	box-sizing: border-box;
	height: 36px;
	margin: 0 8px;
	padding: 0 16px;
	font-family: $ff-medium;
	font-size: $fs-medium;
	color: $text-color-white;
	background-color: $button-color-normal;
	border-radius: 4px;
	transition: background-color 100ms linear;

	&:hover {
		cursor: pointer;
		background-color: $button-color-hover;
	}
}