@import "reset";
@import "pallete";
body {
	letter-spacing: 0.3px;
	font-family: $ff-main;
	font-size: $fs-main;
	margin: 0;
}

main {
	position: relative;
	overflow: hidden;
}


@import "header";
@import "time-line";
@import "main-table";
@import "mock-data-imitation";

@media (max-width: 1200px) {
	main {
		overflow-x: auto;
		overflow-y: hidden;
	}
	.table-meeting-room__time-line {
		padding-right: 16px;
	}
	.time-line-figure {
		left: 442px;
	}
}