$button-color-normal: #007DFF;
$button-color-hover: #0059FF;
$button-color-disabled: #E9ECEF;
$button-color-pressed: rgba(11,0,255,0.80);
$text-color-white: #FFFFFF;
$outer-shadow-color: #E9ECEF;


$fs-main: 15px;
$fs-medium: 0.86em;
$fs-small: 0.73em;

$ff-main: "HelveticaNeue", sans-serif;
$ff-medium: "HelveticaNeue-Medium", sans-serif;
$ff-bold: "HelveticaNeue-Bold", sans-serif;