[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none; }

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* Make `a` like a button */
[role="button"] {
  color: inherit;
  cursor: default;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: pre;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

body {
  letter-spacing: 0.3px;
  font-family: "HelveticaNeue", sans-serif;
  font-size: 15px;
  margin: 0; }

main {
  position: relative;
  overflow: hidden; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
  border-bottom: 1px solid #E9ECEF; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 24px; }

.add-meeting__button {
  width: 140px;
  height: 36px;
  font-family: "HelveticaNeue-Medium", sans-serif;
  font-size: 0.86em;
  color: #FFFFFF;
  background-color: #007DFF;
  border-radius: 4px;
  -webkit-transition: background-color 100ms linear;
  transition: background-color 100ms linear; }
  .add-meeting__button:hover {
    cursor: pointer;
    background-color: #0059FF; }

.wrapper-time-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 45px;
  min-width: 1218px;
  overflow: hidden;
  width: 100vw;
  border-bottom: 1px solid #E9ECEF; }
  .wrapper-time-line .day-switcher {
    width: calc(18vw - 48px);
    min-width: 202px; }

.wrapper-date {
  font-family: "HelveticaNeue-Medium", sans-serif;
  line-height: 24px;
  margin: 0 13px; }

.arrow {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #E9ECEF no-repeat;
  background-position: center; }
  .arrow.arrow-left {
    background-image: url("/assets/arrow-left.svg"); }
  .arrow.arrow-right {
    background-image: url("/assets/arrow-right.svg"); }

.time-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 954px;
  padding-left: 3px;
  position: relative; }
  .time-line div {
    text-align: center;
    font-size: 0.73em;
    height: 13px;
    line-height: 13px;
    width: 49px; }
  .time-line:last-child {
    margin-right: -11px; }

.time-line-figure__wrapper {
  position: absolute;
  top: 0;
  z-index: 3;
  overflow: visible; }
  .time-line-figure__wrapper.day-switcher {
    width: calc(18vw - 48px);
    min-width: 202px; }

.time-line__fake {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 954px;
  padding-left: 3px;
  position: relative; }
  .time-line__fake:last-child {
    margin-right: -11px; }

.time-line-figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100vh;
  pointer-events: none;
  padding-top: 12px;
  -webkit-box-flex: 185;
      -ms-flex-positive: 185;
          flex-grow: 185; }
  .time-line-figure .time-line-figure__time {
    width: 49px;
    height: 20px;
    background-color: #0059FF;
    border-radius: 10px;
    font-size: 0.86em;
    line-height: 20px;
    text-align: center;
    font-family: "HelveticaNeue-Medium", sans-serif;
    color: #FFFFFF; }
  .time-line-figure .time-line-figure__line {
    width: 1px;
    height: 100vh;
    background-color: #0059FF;
    position: relative;
    right: 24.5px; }
  .time-line-figure__helper {
    -webkit-box-flex: 715;
        -ms-flex-positive: 715;
            flex-grow: 715; }

.meeting-rooms {
  position: relative;
  min-height: calc(100vh - 117px); }

tr:hover .table-meeting-room__wrapper:not(.disabled) .table-meeting-room__name {
  color: #0070E0; }

.table-meeting-room {
  width: 100vw;
  min-width: 1220px;
  border-spacing: 0 16px; }
  .table-meeting-room__wrapper.disabled {
    color: #858E98;
    pointer-events: none; }
  .table-meeting-room__first-column {
    width: calc(18vw - 1px);
    min-width: 249px;
    font-size: 0.73em;
    font-family: "HelveticaNeue-Bold", sans-serif;
    color: #858E98;
    text-align: left;
    padding-left: 24px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    top: 10px; }
  .table-meeting-room__second-column {
    width: 82vw;
    min-width: 967px; }
  .table-meeting-room__time-line {
    background-color: #D5DFE9;
    height: 28px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 27px;
    padding-right: 12px; }
  .table-meeting-room__name {
    font-family: "HelveticaNeue-Medium", sans-serif;
    padding-left: 24px; }
  .table-meeting-room__count {
    font-size: 0.73em;
    padding-left: 24px; }
  .table-meeting-room__free-room {
    position: absolute;
    background-color: #FFFFFF;
    min-width: 199px;
    width: calc(199px + (100vw - 1220px) / 15);
    top: 0;
    bottom: 0;
    left: 350px; }

.time-piece {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  .time-piece.active {
    background-color: #FFFFFF;
    cursor: pointer; }
    .time-piece.active:hover:after {
      content: '+';
      position: absolute;
      bottom: 0;
      top: 0;
      width: 57px;
      border-radius: 2px;
      font-size: 21px;
      text-align: center;
      color: #FFFFFF;
      background-color: #0070E0; }
  .time-piece.placed:hover {
    background: #98A9B9; }

.background-meeting-rooms {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  pointer-events: none; }
  .background-meeting-rooms__time-line-block {
    background-color: #F5F6F8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    min-width: 963px;
    padding-left: 3px;
    overflow: hidden; }
  .background-meeting-rooms__title-block {
    width: calc(18vw - 2px);
    min-width: 249px;
    border-right: 1px solid #E9ECEF; }
  .background-meeting-rooms__time-line-wrapper {
    -ms-flex-preferred-size: 49px;
        flex-basis: 49px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 2; }
    .background-meeting-rooms__time-line-wrapper:last-child {
      margin-right: -11px; }
  .background-meeting-rooms__time-line {
    width: 1px;
    height: 100%;
    background-color: rgba(19, 100, 205, 0.1); }

.meeting-room__wash-room .time_8-00 {
  -webkit-box-flex: 185;
      -ms-flex-positive: 185;
          flex-grow: 185; }

.meeting-room__wash-room .time_8-15 {
  -webkit-box-flex: 160;
      -ms-flex-positive: 160;
          flex-grow: 160; }

.meeting-room__wash-room .time_8-30 {
  -webkit-box-flex: 555;
      -ms-flex-positive: 555;
          flex-grow: 555; }

.meeting-room__yellow-house .time_8-00 {
  -webkit-box-flex: 185;
      -ms-flex-positive: 185;
          flex-grow: 185; }

.meeting-room__yellow-house .time_8-15 {
  -webkit-box-flex: 145;
      -ms-flex-positive: 145;
          flex-grow: 145; }

.meeting-room__yellow-house .time_8-30 {
  -webkit-box-flex: 420;
      -ms-flex-positive: 420;
          flex-grow: 420; }

.meeting-room__yellow-house .time_8-45 {
  -webkit-box-flex: 100;
      -ms-flex-positive: 100;
          flex-grow: 100; }

.meeting-room__yellow-house .time_9-00 {
  -webkit-box-flex: 50;
      -ms-flex-positive: 50;
          flex-grow: 50; }

.meeting-room__joker .time_8-00 {
  -webkit-box-flex: 185;
      -ms-flex-positive: 185;
          flex-grow: 185; }

.meeting-room__joker .time_8-15 {
  -webkit-box-flex: 115;
      -ms-flex-positive: 115;
          flex-grow: 115; }

.meeting-room__joker .time_8-30 {
  -webkit-box-flex: 370;
      -ms-flex-positive: 370;
          flex-grow: 370; }

.meeting-room__joker .time_8-45 {
  -webkit-box-flex: 100;
      -ms-flex-positive: 100;
          flex-grow: 100; }

.meeting-room__joker .time_9-00 {
  -webkit-box-flex: 50;
      -ms-flex-positive: 50;
          flex-grow: 50; }

.meeting-room__joker .time_9-15 {
  -webkit-box-flex: 30;
      -ms-flex-positive: 30;
          flex-grow: 30; }

.meeting-room__joker .time_9-30 {
  -webkit-box-flex: 50;
      -ms-flex-positive: 50;
          flex-grow: 50; }

.meeting-room__mary .time_8-00 {
  -webkit-box-flex: 285;
      -ms-flex-positive: 285;
          flex-grow: 285; }

.meeting-room__mary .time_8-15 {
  -webkit-box-flex: 115;
      -ms-flex-positive: 115;
          flex-grow: 115; }

.meeting-room__mary .time_8-30 {
  -webkit-box-flex: 270;
      -ms-flex-positive: 270;
          flex-grow: 270; }

.meeting-room__mary .time_8-45 {
  -webkit-box-flex: 100;
      -ms-flex-positive: 100;
          flex-grow: 100; }

.meeting-room__mary .time_9-00 {
  -webkit-box-flex: 50;
      -ms-flex-positive: 50;
          flex-grow: 50; }

.meeting-room__mary .time_9-15 {
  -webkit-box-flex: 30;
      -ms-flex-positive: 30;
          flex-grow: 30; }

.meeting-room__mary .time_9-30 {
  -webkit-box-flex: 50;
      -ms-flex-positive: 50;
          flex-grow: 50; }

.meeting-room__tiny-bob .time_8-00 {
  -webkit-box-flex: 235;
      -ms-flex-positive: 235;
          flex-grow: 235; }

.meeting-room__tiny-bob .time_8-15 {
  -webkit-box-flex: 115;
      -ms-flex-positive: 115;
          flex-grow: 115; }

.meeting-room__tiny-bob .time_8-30 {
  -webkit-box-flex: 270;
      -ms-flex-positive: 270;
          flex-grow: 270; }

.meeting-room__tiny-bob .time_8-45 {
  -webkit-box-flex: 80;
      -ms-flex-positive: 80;
          flex-grow: 80; }

.meeting-room__tiny-bob .time_9-00 {
  -webkit-box-flex: 100;
      -ms-flex-positive: 100;
          flex-grow: 100; }

.meeting-room__tiny-bob .time_9-15 {
  -webkit-box-flex: 50;
      -ms-flex-positive: 50;
          flex-grow: 50; }

.meeting-room__tiny-bob .time_9-30 {
  -webkit-box-flex: 50;
      -ms-flex-positive: 50;
          flex-grow: 50; }

.meeting-room__black-mamba .time_8-00 {
  -webkit-box-flex: 205;
      -ms-flex-positive: 205;
          flex-grow: 205; }

.meeting-room__black-mamba .time_8-15 {
  -webkit-box-flex: 125;
      -ms-flex-positive: 125;
          flex-grow: 125; }

.meeting-room__black-mamba .time_8-30 {
  -webkit-box-flex: 270;
      -ms-flex-positive: 270;
          flex-grow: 270; }

.meeting-room__black-mamba .time_8-45 {
  -webkit-box-flex: 100;
      -ms-flex-positive: 100;
          flex-grow: 100; }

.meeting-room__black-mamba .time_9-00 {
  -webkit-box-flex: 100;
      -ms-flex-positive: 100;
          flex-grow: 100; }

.meeting-room__black-mamba .time_9-15 {
  -webkit-box-flex: 50;
      -ms-flex-positive: 50;
          flex-grow: 50; }

.meeting-room__black-mamba .time_9-30 {
  -webkit-box-flex: 50;
      -ms-flex-positive: 50;
          flex-grow: 50; }

.meeting-room__liker .time_8-00 {
  -webkit-box-flex: 185;
      -ms-flex-positive: 185;
          flex-grow: 185; }

.meeting-room__liker .time_8-15 {
  -webkit-box-flex: 115;
      -ms-flex-positive: 115;
          flex-grow: 115; }

.meeting-room__liker .time_8-30 {
  -webkit-box-flex: 50;
      -ms-flex-positive: 50;
          flex-grow: 50; }

.meeting-room__liker .time_8-45 {
  -webkit-box-flex: 120;
      -ms-flex-positive: 120;
          flex-grow: 120; }

.meeting-room__liker .time_9-00 {
  -webkit-box-flex: 100;
      -ms-flex-positive: 100;
          flex-grow: 100; }

.meeting-room__liker .time_9-15 {
  -webkit-box-flex: 150;
      -ms-flex-positive: 150;
          flex-grow: 150; }

.meeting-room__liker .time_9-30 {
  -webkit-box-flex: 170;
      -ms-flex-positive: 170;
          flex-grow: 170; }

@media (max-width: 1200px) {
  main {
    overflow-x: auto;
    overflow-y: hidden; }
  .table-meeting-room__time-line {
    padding-right: 16px; }
  .time-line-figure {
    left: 442px; } }
