mixin header(needButton= false)
	header.header
		img.logo( src='/dist/assets/logo.svg' alt='Yandex Переговорки')
		- if (needButton) {
		button.add-button(type='button' onclick='location.href="./add-meeting"') Создать встречу
		-}